<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="/eschaton/css/stylesheet.css" charset="utf-8">
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="/eschaton/javascript/jquery.js"></script>
    <script type="text/javascript" src="/eschaton/javascript/fancyzoom.js"></script>    
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('a.zoom').fancyZoom({scaleImg: true, closeOnClick: true, directory: '/eschaton/images/fancy_zoom'});
      });
    </script>
    <div id="header" onclick="window.location.href = '/eschaton';" style='height: auto; display: block; clear: both;'>
       <table>
        <tr>
          <td><img src="/eschaton/images/logo.png"> </img></td>
          <td><h1>Eschaton - A language project.</h1></td>
        </tr>
       </table>
    </div>
    <div id="content">    
      {{content}}          
    </div>
  </body>
</html>
