---
layout: default
---

<div class="post_tab">
<h1 class="post_header">{{ page.title }}</h1>
</div>
<div class="post_content">
  {{ content }}
</div>         
      
<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/yawningman-blog/embed.js"></script><noscript><a href="http://yawningman-blog.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/yawningman-blog/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>
